body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.cabecalho{
    background-image: url(banner.png);
    background-size: cover;
    background-position: center center;
    height: 400px;
    padding-top: 1px;
}
.cabecalho-conteudo{
    margin:100px auto 0;
    width: 80%;
    text-align: center;
}
.cabecalho-conteudo h1{
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px black;
}
.cabecalho-conteudo p{
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    width: 50%;
    padding: 14px;
    border-bottom: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    letter-spacing: 2px;
}
.cabecalho nav ul{
    text-align: right;
    margin:20px 80px 0 0;
}
.cabecalho nav li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 16px;
}
.cabecalho nav a{
    border: 1px solid white;
    background-color: rgba(0, 0, 0, .3);
    padding: 16px;
    display: block;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
.cabecalho nav a:hover{
    background-color: rgba(0, 0, 0, .7);
}

main{
    width: 80%;
    margin: auto;
    padding-top: 30px;
}
article{
    background-color: white;
    padding: 16px;
    margin-bottom: 30px;
    margin-top: 0;
}
article h2{
    border-bottom: 2px solid #ccc;
    background-color: #eee;
    padding: 10px;
    margin-top: 0;
}
article p{
    text-align: justify;
}
.btn{
    background-color: #cdc7c3;
    display: block;
    width: fit-content;
    padding: 12px 16px;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.rodape{
    color: white;
    background-color: #6b6c68;
    text-align: center;
    padding: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px black;
}
