:root{
    --primary-color: #e10f0f;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(blue, var(--primary-color)), url(imagens/tile.png);
    background-blend-mode: color;
    background-attachment: fixed;

}
.cores{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 8px dashed color-mix(in srgb, var(--primary-color), transparent);
}
.cores:nth-of-type(1){
    background-color: color-mix(in srgb, var(--primary-color), transparent);
}
.cores:nth-of-type(2){
    background-color: white;
    background-clip: padding-box;
}
.cores:nth-of-type(3){
    background-color: hsl(50deg, 100%, 80%);
}
.cores:nth-of-type(3):hover{
    background-color: hsl(50deg, 100%, 40%);
    box-shadow: 10px 10px 6px -3px hsl(50deg, 100%, 30%);
}
.cores p{
    margin: 0;
}
section{
    counter-reset: contador;
}
.cores{
    counter-increment: contador;
}
.cores::before{
    content: "["counter(contador)"]";
    display: inline-block;
    margin: 10px;
    font-weight: bold;
}