:root {
    --primary-color: #612674;
    --default-gap: 1rem;
}

html {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Oxygen', sans-serif;
}

.maxWidth {
    max-width: 70.25em;
    margin: auto;
}


/*css do header*/
.top_header {
    text-align: center;
}

.top_header_nav {
    background-color: var(--primary-color);
}

.top_header_nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.top_header_nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.top_header_nav li:hover {
    background-color: color-mix(in srgb, var(--primary-color), #fff 10%);
}

/*CSS do banner da main*/
.heroBanner {
    text-align: center;
    background-color: #f6f6f6;
    padding: 1em;
}

.heroBanner_iconPlay {
    height: 5em;
    width: 5em;
    display: none;
}

.heroBanner_iconPlay img {
    width: 100%;
}

.heroBanner_title {
    color: var(--primary-color);
    font-size: 1.5em;
    margin: 1.5em 0;
}

.heroBanner_subtitle {
    font-size: 1em;
    color: color-mix(in srgb, var(--primary-color), #fff);
    line-height: 1.5;
}

.heroBanner_btn {
    display: inline-block;
    padding: .9em 2em;
    background-color: #58c4c4;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

/*MD*/
@media screen and (min-width: 48.75em) {
    .top_header {
        display: flex;
        justify-content: space-between;
    }

    .top_header_logo {
        margin-left: 1.5em;
    }

    .top_header_nav {
        background-color: initial;
    }

    .top_header_nav li {
        display: inline-block;
    }

    .top_header_nav a {
        color: var(--primary-color);
    }

    .top_header_nav a:hover {
        background-color: color-mix(in srgb, var(--primary-color), #fff 85%);
    }

    .heroBanner {
        background-color: var(--primary-color);
        color: #fff;
    }

    .heroBanner_title,
    .heroBanner_subtitle {
        color: #fff;
    }

    .heroBanner_iconPlay {
        display: block;
        margin: auto;
    }
}

/*LG*/
@media screen and (min-width: 56.25em) {
    .heroBanner {
        background-image: url(../images/bg_topo_1198x670.jpg);
        aspect-ratio: 1198/670;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .heroBanner .maxWidth {
        margin: initial;
        margin-bottom: 4em;
        width: 75%;
    }
}

/*XL*/
@media screen and (min-width: 74em) {
    .heroBanner {
        background-image: linear-gradient(transparent, var(--primary-color)), url(../images/bg_topo_1600x1374.jpg);
        background-blend-mode: soft-light;
        background-position: center top;
        background-color: var(--primary-color);
        background-repeat: no-repeat;
        max-height: 80vh;
        width: 100%;
    }

    .heroBanner .maxWidth {
        width: 50%;
    }
    .heroBanner_iconPlay{
        width: 7em;
        height: 7em;
    }
    .heroBanner_title, .heroBanner_subtitle{
        text-shadow: 4px 4px 2px rgb(0 0 0 / .8);
    }
}

/*CSS da MAIN - MIDDLE CONTENT */
.middleContent{
    background-color: #f6f6f6;
    text-align: center;
    padding: 2em;
}
.middleContent a{
    color: inherit;
    text-decoration: none;
}
.middleContent_title{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.25em;
}
.middleContent span[class^="icon-"]{
    color: var(--primary-color);
    font-size: 3.5em;
}
.middleContent p{
    line-height: 1.5;
}