body {
    background-color: white;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#titulo1 {
    font-size: 28pt;
    text-align: center;
    color: #00796b;

}

h2 {
    font-size: 20pt;
    color: #00695c;

}

p {
    font-size: 16px;
    color: #333;
    text-align: justify;

}

a {
    color: #00796b;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #005f56;
    text-decoration: underline;
}

i {
    font-size: 18px;
    margin-right: 5px;
}

.info-contato {
    background: #e0f2f1;

    font-weight: bold;
    text-align: center;
}